/* header */
.headerbox {
  background: #fff; }
  .headerbox .header {
    width: 1080px;
    height: 85px;
    background-color: #fff;
    margin: 0 auto; }
    .headerbox .header .left {
      width: 204px;
      height: 50px;
      float: left;
      margin-top: 10px; }
      .headerbox .header .left img {
        width: 100%;
        height: 100%; }
    .headerbox .header .middle {
      width: 504px;
      height: 37px;
      float: left;
      margin: 20px 0 0 50px;
      position: relative; }
      .headerbox .header .middle input {
        width: 450px;
        height: 33px;
        border: 1px solid red;
        float: left; }
      .headerbox .header .middle .search {
        display: block;
        float: left;
        width: 30px;
        height: 33px;
        background-color: red;
        border: 1px solid red;
        text-align: center;
        line-height: 33px; }
        .headerbox .header .middle .search .iconfont {
          font-size: 18px;
          color: white;
          font-weight: 900; }
      .headerbox .header .middle .tags {
        position: absolute;
        top: 8px;
        left: 280px; }
        .headerbox .header .middle .tags a {
          float: left;
          background-color: #fff;
          border: 1px solid #666;
          border-radius: 10px;
          font-size: 14px;
          margin-left: 10px;
          width: 40px;
          color: #999;
          text-align: center;
          background-color: #f3f3f3; }
    .headerbox .header .right {
      width: 194px;
      height: 70px;
      float: right;
      margin-top: 5px; }

/* nav */
.navbox {
  background-color: #FF4338; }
  .navbox .nav {
    width: 1080px;
    height: 40px;
    background-color: #FF4338;
    margin: 0 auto;
    position: relative; }
    .navbox .nav #topnav li {
      float: left; }
      .navbox .nav #topnav li a {
        display: block;
        height: 40px;
        margin: 10px 40px 0 40px;
        font-size: 18px;
        text-align: center;
        color: #fff; }
    .navbox .nav #topnav .topli:hover {
      background-color: navy; }
    .navbox .nav .shoppingCar {
      display: block;
      width: 100px;
      height: 38px;
      border: 1px solid black;
      position: absolute;
      background: #FF4338;
      right: 200px;
      line-height: 40px;
      padding-left: 10px; }
      .navbox .nav .shoppingCar .carnum {
        font-size: 16px;
        margin-left: 10px;
        color: #fff; }
    .navbox .nav .shoppingCar:hover {
      background-color: skyblue; }
    .navbox .nav .login {
      width: 103px;
      height: 40px;
      float: right;
      text-align: center;
      line-height: 40px; }
      .navbox .nav .login a {
        color: #fff;
        margin-right: 10px; }
      .navbox .nav .login a:last-child {
        margin: 0 0 0 10px; }
    .navbox .nav .topnavleft {
      width: 1080px;
      height: 0px;
      background-color: #fff;
      position: absolute;
      top: 40px;
      left: 0;
      border: 1px solid black;
      border-top: none;
      overflow: hidden;
      display: none;
      z-index: 50; }
      .navbox .nav .topnavleft ul li {
        width: 150px;
        height: 200px;
        float: left;
        cursor: pointer;
        margin: 50px 0 0 60px; }
        .navbox .nav .topnavleft ul li img {
          width: 150px;
          height: 150px; }
        .navbox .nav .topnavleft ul li p {
          text-align: center;
          font-size: 18px;
          margin-top: 10px; }

/* content */
.contentbox {
  background: #fff;
  padding: 12px 0;
  font-size: 14px;
  color: #666;
  position: relative; }
  .contentbox .content {
    width: 1080px;
    margin: 0 auto; }
    .contentbox .content .bread {
      margin-bottom: 10px;
      color: #999;
      font-size: 12px; }
      .contentbox .content .bread a {
        color: #666;
        font-size: 12px;
        padding: 0 5px; }
      .contentbox .content .bread a:first-child {
        padding-left: 0; }
    .contentbox .content .top_block {
      width: 100%;
      visibility: visible; }
      .contentbox .content .top_block .scroll-wrap h2 {
        color: #333;
        font-size: 22px;
        width: 100%;
        padding: 5px 0;
        border-bottom: 2px solid #e2e2e2;
        position: relative;
        background-color: #fff; }
        .contentbox .content .top_block .scroll-wrap h2 span {
          font-size: 16px;
          display: inline-block;
          vertical-align: top;
          margin: 40px 0 0 10px;
          font-weight: 400; }
        .contentbox .content .top_block .scroll-wrap h2 .dy-btn {
          background: url(../images/qq.png) no-repeat 13px center #f1f1f1;
          width: 70px;
          padding-left: 30px;
          height: 26px;
          font-size: 14px;
          border-radius: 13px;
          position: absolute;
          right: 0;
          top: 5px;
          cursor: pointer;
          line-height: 26px;
          font-weight: 600; }
      .contentbox .content .top_block .scroll-wrap .good {
        background-color: #fff;
        padding: 10px 0;
        border-radius: 3px;
        height: 650px;
        position: relative; }
        .contentbox .content .top_block .scroll-wrap .good .imgbox {
          width: 430px;
          margin-left: 0;
          background: #fff;
          height: 650px;
          float: left;
          position: relative; }
          .contentbox .content .top_block .scroll-wrap .good .imgbox .bigpic {
            width: 430px;
            height: 430px; }
            .contentbox .content .top_block .scroll-wrap .good .imgbox .bigpic a {
              width: 430px;
              height: 430px;
              float: left;
              position: absolute;
              top: 0; }
              .contentbox .content .top_block .scroll-wrap .good .imgbox .bigpic a img {
                width: 100%;
                height: 100%;
                display: none; }
            .contentbox .content .top_block .scroll-wrap .good .imgbox .bigpic .mark {
              width: 200px;
              height: 200px;
              position: absolute;
              left: 0;
              top: 0;
              display: none;
              background: #FF4338;
              border: 1px solid #FF4338;
              opacity: 0.5;
              z-index: 20;
              filter: alpha(opacity=50); }
          .contentbox .content .top_block .scroll-wrap .good .imgbox .big {
            width: 400px;
            height: 400px;
            position: absolute;
            left: 430px;
            overflow: hidden;
            top: 0;
            border: 1px solid black;
            z-index: 20;
            display: none; }
            .contentbox .content .top_block .scroll-wrap .good .imgbox .big img {
              width: 860px;
              height: 860px;
              position: absolute;
              display: none; }
          .contentbox .content .top_block .scroll-wrap .good .imgbox .target {
            margin: 0 20px;
            width: 390px;
            height: 80px;
            padding: 20px 0;
            position: relative; }
            .contentbox .content .top_block .scroll-wrap .good .imgbox .target .pic-list {
              width: 100%;
              height: 100%;
              overflow: hidden;
              background: rgba(255, 255, 255, 0.5);
              z-index: 10; }
              .contentbox .content .top_block .scroll-wrap .good .imgbox .target .pic-list ul {
                position: absolute;
                left: 0;
                width: 390px; }
                .contentbox .content .top_block .scroll-wrap .good .imgbox .target .pic-list ul li {
                  width: 60px;
                  height: 60px;
                  padding: 5px;
                  border-radius: 3px;
                  overflow: hidden;
                  float: left;
                  margin-right: 5px; }
                  .contentbox .content .top_block .scroll-wrap .good .imgbox .target .pic-list ul li a {
                    float: left;
                    border-radius: 3px; }
                    .contentbox .content .top_block .scroll-wrap .good .imgbox .target .pic-list ul li a img {
                      width: 100%;
                      height: 100%; }
                .contentbox .content .top_block .scroll-wrap .good .imgbox .target .pic-list ul .this {
                  border: 4px solid #ebebeb; }
          .contentbox .content .top_block .scroll-wrap .good .imgbox .tips {
            border-top: 1px solid #e2e2e2;
            padding-top: 10px; }
            .contentbox .content .top_block .scroll-wrap .good .imgbox .tips .tips-title {
              width: 70px;
              font-weight: 700;
              line-height: 30px;
              float: left; }
            .contentbox .content .top_block .scroll-wrap .good .imgbox .tips .tips-list {
              width: 360px;
              float: left; }
              .contentbox .content .top_block .scroll-wrap .good .imgbox .tips .tips-list ul li {
                padding: 0 10px;
                height: 28px;
                border: 1px solid #FF4338;
                color: #FF4338;
                float: left;
                margin: 0 10px 10px 0;
                border-radius: 3px;
                cursor: pointer; }
                .contentbox .content .top_block .scroll-wrap .good .imgbox .tips .tips-list ul li span {
                  margin-left: 5px; }
        .contentbox .content .top_block .scroll-wrap .good .details {
          float: right;
          margin-left: 20px;
          width: 630px;
          height: 650px;
          position: relative;
          background-color: #fff; }
          .contentbox .content .top_block .scroll-wrap .good .details .gooddetail {
            position: relative;
            z-index: 10;
            height: 180px; }
            .contentbox .content .top_block .scroll-wrap .good .details .gooddetail .shoescolor {
              float: left;
              width: 460px;
              height: 180px; }
              .contentbox .content .top_block .scroll-wrap .good .details .gooddetail .shoescolor p {
                font-size: 16px;
                line-height: 35px;
                color: #333; }
              .contentbox .content .top_block .scroll-wrap .good .details .gooddetail .shoescolor ul {
                overflow: hidden; }
                .contentbox .content .top_block .scroll-wrap .good .details .gooddetail .shoescolor ul li {
                  margin-top: 0;
                  width: 100px;
                  float: left;
                  height: 130px;
                  border-radius: 3px;
                  margin: 13px 13px 0 0;
                  position: relative;
                  border: 1px solid transparent; }
                  .contentbox .content .top_block .scroll-wrap .good .details .gooddetail .shoescolor ul li a {
                    display: block;
                    color: #333;
                    width: 100%;
                    height: 130px;
                    border-radius: 3px;
                    position: relative;
                    background-color: #fff;
                    border: 1px solid transparent; }
                    .contentbox .content .top_block .scroll-wrap .good .details .gooddetail .shoescolor ul li a .img img {
                      width: 100%; }
                    .contentbox .content .top_block .scroll-wrap .good .details .gooddetail .shoescolor ul li a .desc {
                      position: absolute;
                      width: 100%;
                      top: 100px;
                      font-size: 14px;
                      text-align: center;
                      border-radius: 3px;
                      padding: 2px 0;
                      height: 21px;
                      z-index: 5; }
                      .contentbox .content .top_block .scroll-wrap .good .details .gooddetail .shoescolor ul li a .desc .price {
                        visibility: hidden;
                        opacity: 0;
                        padding: 2px; }
                      .contentbox .content .top_block .scroll-wrap .good .details .gooddetail .shoescolor ul li a .desc .stylename {
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 21px;
                        line-height: 21px;
                        width: 100%;
                        z-index: 5; }
                  .contentbox .content .top_block .scroll-wrap .good .details .gooddetail .shoescolor ul li .all_color {
                    text-align: center;
                    color: #333;
                    height: 30px !important;
                    border: 0 !important;
                    padding-top: 100px;
                    line-height: 26px; }
                    .contentbox .content .top_block .scroll-wrap .good .details .gooddetail .shoescolor ul li .all_color span {
                      color: #FF4338;
                      font-size: 14px; }
                  .contentbox .content .top_block .scroll-wrap .good .details .gooddetail .shoescolor ul li .all_color::before {
                    position: absolute;
                    content: "";
                    width: 100px;
                    height: 100px;
                    left: 0;
                    top: 0;
                    background: url(//sh1.hoopchina.com.cn/fis_static/trade/static/sports/widget/sneaker/icon-allstyle_c88b2d2.png) no-repeat scroll center center #f9f9f9; }
            .contentbox .content .top_block .scroll-wrap .good .details .gooddetail .size {
              float: right;
              width: 170px;
              position: relative;
              min-height: 34px; }
              .contentbox .content .top_block .scroll-wrap .good .details .gooddetail .size p {
                padding-left: 10px;
                font-size: 16px;
                line-height: 35px;
                color: #333; }
              .contentbox .content .top_block .scroll-wrap .good .details .gooddetail .size .limit {
                display: block;
                height: 110px;
                overflow: hidden; }
                .contentbox .content .top_block .scroll-wrap .good .details .gooddetail .size .limit li {
                  float: left;
                  margin: 0 0 10px 10px; }
                  .contentbox .content .top_block .scroll-wrap .good .details .gooddetail .size .limit li a {
                    width: 30px;
                    color: #333;
                    font-size: 12px;
                    height: 28px;
                    line-height: 28px;
                    background: #fff;
                    border: 1px solid #e2e2e2;
                    text-align: center;
                    display: block; }
                .contentbox .content .top_block .scroll-wrap .good .details .gooddetail .size .limit li:first-child a {
                  width: 72px; }
          .contentbox .content .top_block .scroll-wrap .good .details .shoplist {
            border-radius: 3px;
            position: relative;
            margin-top: 10px;
            z-index: 2; }
            .contentbox .content .top_block .scroll-wrap .good .details .shoplist .title {
              padding: 0 20px;
              height: 35px;
              font-size: 14px;
              color: #333;
              background: #ebebeb;
              overflow: hidden;
              border-radius: 3px 3px 0 0; }
              .contentbox .content .top_block .scroll-wrap .good .details .shoplist .title ul li {
                float: left;
                margin-right: 35px;
                line-height: 35px;
                cursor: pointer; }
                .contentbox .content .top_block .scroll-wrap .good .details .shoplist .title ul li span {
                  height: 33px;
                  display: inline-block;
                  border-bottom: 2px solid transparent; }
              .contentbox .content .top_block .scroll-wrap .good .details .shoplist .title ul li:first-child span {
                border-bottom: 2px solid #FF4338; }
              .contentbox .content .top_block .scroll-wrap .good .details .shoplist .title ul li:last-child:after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 10px;
                height: 5px;
                margin: 0 0 0 5px;
                background: url(//sh1.hoopchina.com.cn/fis_static/trade/static/sports/widget/sneaker/icon-up_9481659.png) no-repeat transparent; }
            .contentbox .content .top_block .scroll-wrap .good .details .shoplist .list {
              width: 100%;
              position: relative; }
              .contentbox .content .top_block .scroll-wrap .good .details .shoplist .list .shop_list {
                position: relative; }
                .contentbox .content .top_block .scroll-wrap .good .details .shoplist .list .shop_list .shop_list_ul {
                  background: #fff; }
                  .contentbox .content .top_block .scroll-wrap .good .details .shoplist .list .shop_list .shop_list_ul li {
                    overflow: hidden;
                    border: 1px solid #ebebeb; }
                    .contentbox .content .top_block .scroll-wrap .good .details .shoplist .list .shop_list .shop_list_ul li .img {
                      float: left;
                      width: 88px;
                      height: 88px;
                      padding-left: 15px; }
                      .contentbox .content .top_block .scroll-wrap .good .details .shoplist .list .shop_list .shop_list_ul li .img img {
                        width: 88px; }
                    .contentbox .content .top_block .scroll-wrap .good .details .shoplist .list .shop_list .shop_list_ul li .cell {
                      float: left;
                      background: #fff;
                      width: 375px;
                      height: 107px; }
                      .contentbox .content .top_block .scroll-wrap .good .details .shoplist .list .shop_list .shop_list_ul li .cell a .tit {
                        padding: 0 10px; }
                        .contentbox .content .top_block .scroll-wrap .good .details .shoplist .list .shop_list .shop_list_ul li .cell a .tit .ft {
                          font-size: 14px;
                          color: #333;
                          line-height: 20px;
                          padding: 10px 0;
                          width: 100%; }
                          .contentbox .content .top_block .scroll-wrap .good .details .shoplist .list .shop_list .shop_list_ul li .cell a .tit .ft span {
                            font-size: 12px;
                            color: #FF4338;
                            padding: 2px;
                            vertical-align: top;
                            margin-left: 5px;
                            position: relative;
                            line-height: 14px;
                            display: inline-block; }
                          .contentbox .content .top_block .scroll-wrap .good .details .shoplist .list .shop_list .shop_list_ul li .cell a .tit .ft .grade {
                            color: #999;
                            font-style: normal; }
                      .contentbox .content .top_block .scroll-wrap .good .details .shoplist .list .shop_list .shop_list_ul li .cell a .shoessize {
                        padding-left: 10px;
                        color: #999; }
                        .contentbox .content .top_block .scroll-wrap .good .details .shoplist .list .shop_list .shop_list_ul li .cell a .shoessize .chima {
                          float: left;
                          line-height: 25px;
                          margin-right: 10px; }
                        .contentbox .content .top_block .scroll-wrap .good .details .shoplist .list .shop_list .shop_list_ul li .cell a .shoessize .size {
                          float: left;
                          line-height: 25px;
                          text-align: left; }
                    .contentbox .content .top_block .scroll-wrap .good .details .shoplist .list .shop_list .shop_list_ul li .td4 {
                      float: left;
                      height: 32px;
                      padding: 40px 0; }
                      .contentbox .content .top_block .scroll-wrap .good .details .shoplist .list .shop_list .shop_list_ul li .td4 .price2 {
                        height: 50px; }
                        .contentbox .content .top_block .scroll-wrap .good .details .shoplist .list .shop_list .shop_list_ul li .td4 .price2 a {
                          display: inline-block;
                          border: 1px solid #f8d2d4;
                          background: #fff;
                          color: #FF4338;
                          font-size: 18px;
                          height: 28px;
                          width: 90px;
                          line-height: 28px;
                          text-align: center;
                          font-weight: 700; }
                    .contentbox .content .top_block .scroll-wrap .good .details .shoplist .list .shop_list .shop_list_ul li .btn {
                      float: right;
                      margin: 40px  10px 50px 0;
                      border: 1px solid #FF4338;
                      width: 28px;
                      height: 28px;
                      line-height: 28px;
                      text-align: center;
                      background: #FF4338;
                      cursor: pointer; }
                      .contentbox .content .top_block .scroll-wrap .good .details .shoplist .list .shop_list .shop_list_ul li .btn span {
                        font-size: 18px;
                        color: #fff; }
              .contentbox .content .top_block .scroll-wrap .good .details .shoplist .list .more {
                height: 80px;
                border: 1px solid #ebebeb;
                border-top: 0;
                text-align: center; }
                .contentbox .content .top_block .scroll-wrap .good .details .shoplist .list .more .more-btn {
                  padding: 0 30px;
                  cursor: pointer;
                  line-height: 35px;
                  height: 35px;
                  text-align: center;
                  background: #FF4338;
                  color: #fff;
                  display: inline-block;
                  vertical-align: top;
                  margin-top: 25px; }
                  .contentbox .content .top_block .scroll-wrap .good .details .shoplist .list .more .more-btn span {
                    width: 10px;
                    height: 6px;
                    display: inline-block;
                    vertical-align: middle;
                    background: url(//sh1.hoopchina.com.cn/fis_static/trade/static/sports/images/more_5736f55.png) no-repeat center center transparent; }

/* footer */
.footer .foot-tips-box {
  border-top: 1px dotted #dbdbdb;
  text-align: center;
  padding-top: 20px;
  margin-top: 10px; }

.footer .foot-aboutus-bg {
  background-color: #f6f6f6;
  padding: 15px 0;
  margin-top: 20px; }
  .footer .foot-aboutus-bg .foot-aboutus {
    position: relative;
    margin: 0 auto;
    width: 1050px;
    padding-left: 30px; }
    .footer .foot-aboutus-bg .foot-aboutus ul {
      text-align: center;
      padding: 0 30px; }
      .footer .foot-aboutus-bg .foot-aboutus ul li {
        display: inline-block;
        margin: 0 30px;
        vertical-align: top;
        float: none;
        background: url("../images/a1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        font-family: "Microsoft YaHei";
        line-height: 2em;
        padding-left: 50px;
        padding-top: 5px; }
        .footer .foot-aboutus-bg .foot-aboutus ul li dl dt {
          color: #222;
          font-size: 16px;
          margin-bottom: 5px; }
        .footer .foot-aboutus-bg .foot-aboutus ul li dl dd a {
          color: #666;
          font-size: 12px; }
      .footer .foot-aboutus-bg .foot-aboutus ul .sjzx {
        display: inline-block;
        margin: 0 30px;
        vertical-align: top;
        float: none;
        background: url("../images/a2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); }
        .footer .foot-aboutus-bg .foot-aboutus ul .sjzx dl dt {
          color: #222;
          font-size: 16px;
          margin-bottom: 5px; }
        .footer .foot-aboutus-bg .foot-aboutus ul .sjzx dl dd a {
          color: #666;
          font-size: 12px; }
      .footer .foot-aboutus-bg .foot-aboutus ul .sjyy {
        display: inline-block;
        margin: 0 30px;
        vertical-align: top;
        float: none;
        background: url("../images/a3.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); }
        .footer .foot-aboutus-bg .foot-aboutus ul .sjyy dl dt {
          color: #222;
          font-size: 16px;
          margin-bottom: 5px; }
        .footer .foot-aboutus-bg .foot-aboutus ul .sjyy dl dd a {
          color: #666;
          font-size: 12px; }
      .footer .foot-aboutus-bg .foot-aboutus ul .gywm {
        display: inline-block;
        margin: 0 30px;
        vertical-align: top;
        float: none;
        background: url("../images/a4.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); }
        .footer .foot-aboutus-bg .foot-aboutus ul .gywm dl dt {
          color: #222;
          font-size: 16px;
          margin-bottom: 5px; }
        .footer .foot-aboutus-bg .foot-aboutus ul .gywm dl dd a {
          color: #666;
          font-size: 12px; }

.footer .friendly-link {
  margin: 0 auto;
  margin-top: 5px;
  padding: 10px 40px;
  width: 900px;
  color: #999;
  font-size: 12px;
  font-family: "Microsoft YaHei"; }
  .footer .friendly-link .securityPic {
    text-align: center;
    margin-bottom: 30px; }
    .footer .friendly-link .securityPic p {
      margin-bottom: 8px;
      line-height: 2em;
      text-align: center; }
      .footer .friendly-link .securityPic p a {
        border: medium none;
        color: #999;
        font-size: 12px;
        font-family: "Microsoft YaHei" !important;
        padding: 0 5px; }
    .footer .friendly-link .securityPic span {
      padding: 0 5px; }
