/* header */
.headerbox {
  background: #fff; }
  .headerbox .header {
    width: 1080px;
    height: 85px;
    background-color: #fff;
    margin: 0 auto; }
    .headerbox .header .left {
      width: 204px;
      height: 50px;
      float: left;
      margin-top: 10px; }
      .headerbox .header .left img {
        width: 100%;
        height: 100%; }
    .headerbox .header .middle {
      width: 504px;
      height: 37px;
      float: left;
      margin: 20px 0 0 50px;
      position: relative; }
      .headerbox .header .middle input {
        width: 450px;
        height: 33px;
        border: 1px solid red;
        float: left; }
      .headerbox .header .middle .search {
        display: block;
        float: left;
        width: 30px;
        height: 33px;
        background-color: red;
        border: 1px solid red;
        text-align: center;
        line-height: 33px; }
        .headerbox .header .middle .search .iconfont {
          font-size: 18px;
          color: white;
          font-weight: 900; }
      .headerbox .header .middle .tags {
        position: absolute;
        top: 8px;
        left: 280px; }
        .headerbox .header .middle .tags a {
          float: left;
          background-color: #fff;
          border: 1px solid #666;
          border-radius: 10px;
          font-size: 14px;
          margin-left: 10px;
          width: 40px;
          color: #999;
          text-align: center;
          background-color: #f3f3f3; }
    .headerbox .header .right {
      width: 194px;
      height: 70px;
      float: right;
      margin-top: 5px; }

/* nav */
.navbox {
  background-color: #FF4338; }
  .navbox .nav {
    width: 1080px;
    height: 40px;
    background-color: #FF4338;
    margin: 0 auto;
    position: relative; }
    .navbox .nav #topnav li {
      float: left; }
      .navbox .nav #topnav li a {
        display: block;
        height: 40px;
        margin: 10px 40px 0 40px;
        font-size: 18px;
        text-align: center;
        color: #fff; }
    .navbox .nav #topnav .topli:hover {
      background-color: navy; }
    .navbox .nav .login {
      width: 103px;
      height: 40px;
      float: right;
      text-align: center;
      line-height: 40px; }
      .navbox .nav .login a {
        color: #fff;
        margin-right: 10px; }
      .navbox .nav .login a:last-child {
        margin: 0 0 0 10px; }
    .navbox .nav .topnavleft {
      width: 1080px;
      height: 0px;
      background-color: #fff;
      position: absolute;
      top: 40px;
      left: 0;
      border: 1px solid black;
      border-top: none;
      overflow: hidden;
      display: none;
      z-index: 50; }
      .navbox .nav .topnavleft ul li {
        width: 150px;
        height: 200px;
        float: left;
        cursor: pointer;
        margin: 50px 0 0 60px; }
        .navbox .nav .topnavleft ul li img {
          width: 150px;
          height: 150px; }
        .navbox .nav .topnavleft ul li p {
          text-align: center;
          font-size: 18px;
          margin-top: 10px; }

/* banner */
.bannerbox {
  background-color: #fff; }
  .bannerbox .banner {
    width: 1080px;
    height: 380px;
    background-color: blue;
    margin: 0 auto;
    position: relative; }
    .bannerbox .banner .leftnav {
      width: 330px;
      height: 380px;
      background-color: #999;
      position: absolute;
      top: 0;
      left: 0; }
      .bannerbox .banner .leftnav .leftlist {
        width: 307px;
        height: 58px;
        padding: 20px 0 17px 23px;
        color: #333; }
        .bannerbox .banner .leftnav .leftlist .title-b {
          width: 307px;
          height: 20px;
          font-size: 18px;
          margin-bottom: 20px;
          font-weight: 900; }
        .bannerbox .banner .leftnav .leftlist .tags {
          width: 307px;
          height: 20px; }
          .bannerbox .banner .leftnav .leftlist .tags a {
            color: #333;
            margin-right: 18px; }
      .bannerbox .banner .leftnav .leftlist:hover {
        width: 307px;
        padding: 20px 0 17px 18px;
        background-color: #fff;
        border-left: 5px solid black; }
      .bannerbox .banner .leftnav .leftnavbox {
        width: 450px;
        height: 380px;
        position: absolute;
        left: 330px;
        top: 0;
        background-color: #fff;
        z-index: 20;
        overflow: hidden;
        display: none; }
        .bannerbox .banner .leftnav .leftnavbox .leftnavlist-title {
          padding-bottom: 15px;
          overflow: hidden;
          margin: 18px;
          border-bottom: 1px solid #f3f3f3; }
          .bannerbox .banner .leftnav .leftnavbox .leftnavlist-title div:first-child {
            float: left;
            font-size: 16px;
            font-weight: 900; }
          .bannerbox .banner .leftnav .leftnavbox .leftnavlist-title div:last-child {
            float: right; }
            .bannerbox .banner .leftnav .leftnavbox .leftnavlist-title div:last-child a {
              color: black;
              font-size: 14px; }
        .bannerbox .banner .leftnav .leftnavbox .leftnavlist-name {
          margin: 18px;
          margin-bottom: 0;
          overflow: hidden;
          border-bottom: 1px solid #f3f3f3; }
          .bannerbox .banner .leftnav .leftnavbox .leftnavlist-name li {
            float: left;
            padding: 0 15px;
            margin-bottom: 20px;
            border-right: 1px solid #f1f1f1; }
            .bannerbox .banner .leftnav .leftnavbox .leftnavlist-name li a {
              color: #333; }
        .bannerbox .banner .leftnav .leftnavbox .leftnavlist-logo {
          margin: 18px;
          margin-top: 0;
          overflow: hidden; }
          .bannerbox .banner .leftnav .leftnavbox .leftnavlist-logo li {
            float: left;
            width: 102px;
            height: 60px;
            text-align: center; }
            .bannerbox .banner .leftnav .leftnavbox .leftnavlist-logo li a {
              color: #333; }
              .bannerbox .banner .leftnav .leftnavbox .leftnavlist-logo li a img {
                border: 0 none;
                vertical-align: middle; }
    .bannerbox .banner .bannerimg {
      width: 750px;
      height: 380px;
      background-color: #fff;
      position: absolute;
      right: 0;
      top: 0; }
      .bannerbox .banner .bannerimg img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
    .bannerbox .banner .circle {
      width: 100px;
      height: 10px;
      position: absolute;
      bottom: 10px;
      left: 650px; }
      .bannerbox .banner .circle a {
        display: block;
        float: left;
        width: 10px;
        height: 10px;
        border: 1px solid gray;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 4px; }
      .bannerbox .banner .circle .active {
        background-color: black; }

/* contentprice */
.contentpricebox {
  background-color: #f1f1f1; }
  .contentpricebox .contentprice {
    width: 1080px;
    height: 300px;
    background: #fff;
    margin: 0 auto; }
    .contentpricebox .contentprice .title {
      height: 55px;
      background-color: #f1f1f1; }
      .contentpricebox .contentprice .title s {
        width: 4px;
        height: 18px;
        display: inline-block;
        background-color: #FF4338;
        vertical-align: middle;
        margin-top: 22px; }
      .contentpricebox .contentprice .title .b {
        font-size: 18px;
        font-weight: 800;
        color: #333;
        vertical-align: middle;
        display: inline-block;
        margin: 22px 10px 0; }
      .contentpricebox .contentprice .title .c {
        font-size: 16px;
        color: #666;
        display: inline-block;
        vertical-align: middle;
        margin-top: 22px; }
    .contentpricebox .contentprice .goods {
      position: relative;
      overflow: hidden;
      z-index: 10; }
      .contentpricebox .contentprice .goods #every_left {
        display: none;
        position: absolute;
        left: 0;
        top: 110px;
        width: 50px;
        height: 50px;
        z-index: 20;
        cursor: pointer;
        text-align: center; }
        .contentpricebox .contentprice .goods #every_left .bg-color {
          opacity: 0.6;
          left: 0;
          top: 0;
          width: 50px;
          height: 50px;
          background: #000; }
        .contentpricebox .contentprice .goods #every_left img {
          position: relative;
          z-index: 30;
          top: -35px; }
      .contentpricebox .contentprice .goods #every_right {
        display: none;
        position: absolute;
        right: 0;
        top: 110px;
        width: 50px;
        height: 50px;
        z-index: 20;
        cursor: pointer;
        text-align: center; }
        .contentpricebox .contentprice .goods #every_right .bg-color {
          opacity: 0.6;
          right: 0;
          top: 0;
          width: 50px;
          height: 50px;
          background: #000; }
        .contentpricebox .contentprice .goods #every_right img {
          position: relative;
          z-index: 30;
          top: -35px; }
      .contentpricebox .contentprice .goods ul {
        width: 2150px;
        height: 245px;
        overflow: hidden;
        position: relative;
        left: 0;
        background: #f1f1f1; }
        .contentpricebox .contentprice .goods ul li {
          float: left;
          width: 215px;
          height: 250px;
          margin-top: 20px; }
          .contentpricebox .contentprice .goods ul li a .img {
            width: 170px;
            height: 160px;
            margin: 0 auto; }
            .contentpricebox .contentprice .goods ul li a .img img {
              width: 100%;
              height: 100%; }
          .contentpricebox .contentprice .goods ul li a .msg {
            margin-top: 15px;
            padding: 0 15px;
            background: url(//sh1.hoopchina.com.cn/fis_static/trade/static/sports/images/newIndex/bor_59ab01b.png) no-repeat right center; }
            .contentpricebox .contentprice .goods ul li a .msg p {
              color: #333;
              font-weight: 700;
              height: 20px;
              line-height: 20px;
              overflow: hidden; }
            .contentpricebox .contentprice .goods ul li a .msg .price {
              margin-top: 5px;
              overflow: hidden; }
              .contentpricebox .contentprice .goods ul li a .msg .price .left {
                float: left;
                color: #FF4338;
                font-weight: 700; }
              .contentpricebox .contentprice .goods ul li a .msg .price .right {
                float: right;
                color: #333;
                text-decoration: line-through; }

/* list */
.listbox {
  background: #f1f1f1; }
  .listbox .list {
    width: 1080px;
    height: 400px;
    background-color: #fff;
    margin: 0 auto; }
    .listbox .list .listtitle {
      height: 55px;
      background-color: #f1f1f1; }
      .listbox .list .listtitle s {
        width: 4px;
        height: 18px;
        display: inline-block;
        background-color: #FF4338;
        vertical-align: middle;
        margin-top: 22px; }
      .listbox .list .listtitle .b {
        font-size: 18px;
        font-weight: 800;
        color: #333;
        vertical-align: middle;
        display: inline-block;
        margin: 22px 10px 0; }
    .listbox .list .goodlist {
      position: relative;
      overflow: hidden;
      height: 345px;
      z-index: 10; }
      .listbox .list .goodlist #list_left {
        display: none;
        position: absolute;
        left: 0;
        top: 147px;
        width: 50px;
        height: 50px;
        z-index: 20;
        cursor: pointer;
        text-align: center; }
        .listbox .list .goodlist #list_left .bg-color {
          opacity: 0.6;
          left: 0;
          top: 0;
          width: 50px;
          height: 50px;
          background: #000; }
        .listbox .list .goodlist #list_left img {
          position: relative;
          z-index: 20;
          margin: 14px;
          top: -50px; }
      .listbox .list .goodlist #list_right {
        display: none;
        position: absolute;
        right: 0;
        top: 147px;
        width: 50px;
        height: 50px;
        z-index: 20;
        cursor: pointer;
        text-align: center; }
        .listbox .list .goodlist #list_right .bg-color {
          opacity: 0.6;
          right: 0;
          top: 0;
          width: 50px;
          height: 50px;
          background: #000; }
        .listbox .list .goodlist #list_right img {
          position: relative;
          z-index: 20;
          margin: 14px;
          top: -50px; }
      .listbox .list .goodlist ul {
        width: 2230px;
        height: 345px;
        left: 0;
        margin-left: -10px;
        position: relative;
        overflow: hidden;
        background: #f1f1f1; }
        .listbox .list .goodlist ul li {
          float: left;
          width: 208px;
          height: 340px;
          background-color: #fff;
          margin-left: 10px; }
          .listbox .list .goodlist ul li a {
            display: block;
            color: #333;
            height: 345px; }
            .listbox .list .goodlist ul li a .img {
              height: 208px;
              position: relative; }
              .listbox .list .goodlist ul li a .img img {
                height: 208px;
                vertical-align: middle; }
              .listbox .list .goodlist ul li a .img .tag-top {
                position: absolute;
                top: 0;
                left: 0;
                background: url("//sh1.hoopchina.com.cn/fis_static/trade/static/sports/images/newIndex/triangle-1_78dd245.png") no-repeat;
                width: 31px;
                height: 34px;
                color: #fff;
                padding: 5px 0 8px;
                text-align: center; }
            .listbox .list .goodlist ul li a .msg {
              padding: 0 10px; }
              .listbox .list .goodlist ul li a .msg .title2 {
                color: #333;
                font-size: 16px;
                margin-top: 12px;
                font-weight: 700;
                height: 20px;
                overflow: hidden; }
              .listbox .list .goodlist ul li a .msg .tips {
                margin-top: 15px;
                line-height: 20px;
                height: 41px;
                position: relative;
                padding-left: 13px;
                overflow: hidden; }
              .listbox .list .goodlist ul li a .msg .price {
                margin-top: 15px;
                color: #033333;
                font-weight: 700; }

/* likes */
.likesbox {
  background-color: #f1f1f1; }
  .likesbox .likes {
    width: 1080px;
    height: 1800px;
    overflow: hidden;
    background-color: #fff;
    margin: 0 auto; }
    .likesbox .likes .likestitle {
      height: 55px;
      background-color: #f1f1f1; }
      .likesbox .likes .likestitle s {
        width: 4px;
        height: 18px;
        display: inline-block;
        background-color: #FF4338;
        vertical-align: middle;
        margin-top: 22px; }
      .likesbox .likes .likestitle .b {
        font-size: 18px;
        font-weight: 800;
        color: #333;
        vertical-align: middle;
        display: inline-block;
        margin: 22px 10px 0; }
    .likesbox .likes .likesgoods {
      width: 1080px;
      height: 1745px;
      overflow: hidden; }
      .likesbox .likes .likesgoods .likesul {
        margin-left: -10px;
        position: relative;
        overflow: hidden;
        background: #f1f1f1; }
        .likesbox .likes .likesgoods .likesul li {
          float: left;
          width: 208px;
          height: 340px;
          background-color: #fff;
          margin: 0 0 10px 10px; }
          .likesbox .likes .likesgoods .likesul li a {
            color: #333; }
            .likesbox .likes .likesgoods .likesul li a .img {
              width: 208px;
              height: 208px;
              position: relative;
              overflow: hidden; }
              .likesbox .likes .likesgoods .likesul li a .img img {
                height: 100%;
                width: 100%;
                position: absolute;
                margin: 0; }
            .likesbox .likes .likesgoods .likesul li a .msg {
              padding: 0 10px; }
              .likesbox .likes .likesgoods .likesul li a .msg .title3 {
                color: #333;
                font-size: 16px;
                margin-top: 12px;
                font-weight: 700;
                height: 20px;
                overflow: hidden; }
              .likesbox .likes .likesgoods .likesul li a .msg .tips2 {
                margin-top: 15px;
                line-height: 20px;
                height: 41px;
                overflow: hidden;
                padding: 0 13px;
                position: relative;
                text-overflow: ellipsis; }
                .likesbox .likes .likesgoods .likesul li a .msg .tips2 .i1 {
                  display: inline-block;
                  background: url(//sh1.hoopchina.com.cn/fis_static/trade/static/sports/images/newIndex/y1_227e9b9.png) no-repeat;
                  width: 11px;
                  height: 7px;
                  position: absolute;
                  left: 0;
                  top: 5px; }
                .likesbox .likes .likesgoods .likesul li a .msg .tips2 .i2 {
                  display: inline-block;
                  background: url(//sh1.hoopchina.com.cn/fis_static/trade/static/sports/images/newIndex/y2_0f4b9a9.png) no-repeat;
                  width: 11px;
                  height: 7px;
                  position: relative;
                  top: -3px; }
              .likesbox .likes .likesgoods .likesul li a .msg .price2 {
                margin-top: 15px;
                color: #dc181c;
                font-weight: 700; }

/* footer */
.footer .foot-tips-box {
  border-top: 1px dotted #dbdbdb;
  text-align: center;
  padding-top: 20px;
  margin-top: 10px; }

.footer .foot-aboutus-bg {
  background-color: #f6f6f6;
  padding: 15px 0;
  margin-top: 20px; }
  .footer .foot-aboutus-bg .foot-aboutus {
    position: relative;
    margin: 0 auto;
    width: 1050px;
    padding-left: 30px; }
    .footer .foot-aboutus-bg .foot-aboutus ul {
      text-align: center;
      padding: 0 30px; }
      .footer .foot-aboutus-bg .foot-aboutus ul li {
        display: inline-block;
        margin: 0 30px;
        vertical-align: top;
        float: none;
        background: url("../images/a1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        font-family: "Microsoft YaHei";
        line-height: 2em;
        padding-left: 50px;
        padding-top: 5px; }
        .footer .foot-aboutus-bg .foot-aboutus ul li dl dt {
          color: #222;
          font-size: 16px;
          margin-bottom: 5px; }
        .footer .foot-aboutus-bg .foot-aboutus ul li dl dd a {
          color: #666;
          font-size: 12px; }
      .footer .foot-aboutus-bg .foot-aboutus ul .sjzx {
        display: inline-block;
        margin: 0 30px;
        vertical-align: top;
        float: none;
        background: url("../images/a2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); }
        .footer .foot-aboutus-bg .foot-aboutus ul .sjzx dl dt {
          color: #222;
          font-size: 16px;
          margin-bottom: 5px; }
        .footer .foot-aboutus-bg .foot-aboutus ul .sjzx dl dd a {
          color: #666;
          font-size: 12px; }
      .footer .foot-aboutus-bg .foot-aboutus ul .sjyy {
        display: inline-block;
        margin: 0 30px;
        vertical-align: top;
        float: none;
        background: url("../images/a3.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); }
        .footer .foot-aboutus-bg .foot-aboutus ul .sjyy dl dt {
          color: #222;
          font-size: 16px;
          margin-bottom: 5px; }
        .footer .foot-aboutus-bg .foot-aboutus ul .sjyy dl dd a {
          color: #666;
          font-size: 12px; }
      .footer .foot-aboutus-bg .foot-aboutus ul .gywm {
        display: inline-block;
        margin: 0 30px;
        vertical-align: top;
        float: none;
        background: url("../images/a4.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); }
        .footer .foot-aboutus-bg .foot-aboutus ul .gywm dl dt {
          color: #222;
          font-size: 16px;
          margin-bottom: 5px; }
        .footer .foot-aboutus-bg .foot-aboutus ul .gywm dl dd a {
          color: #666;
          font-size: 12px; }

.footer .friendly-link {
  margin: 0 auto;
  margin-top: 5px;
  padding: 10px 40px;
  width: 900px;
  color: #999;
  font-size: 12px;
  font-family: "Microsoft YaHei"; }
  .footer .friendly-link .securityPic {
    text-align: center;
    margin-bottom: 30px; }
    .footer .friendly-link .securityPic p {
      margin-bottom: 8px;
      line-height: 2em;
      text-align: center; }
      .footer .friendly-link .securityPic p a {
        border: medium none;
        color: #999;
        font-size: 12px;
        font-family: "Microsoft YaHei" !important;
        padding: 0 5px; }
    .footer .friendly-link .securityPic span {
      padding: 0 5px; }
