body {
  background: url(../images/background.jpg) center center; }

#register {
  width: 400px;
  margin: 100px auto; }
  #register #alert_info {
    padding: 2px;
    text-align: center;
    display: none; }
